.button {
  border-style: solid;
  border-color: transparent;
  cursor: pointer;

  /* Might be a link. */
  display: block;
  text-decoration: none;
}

.primary {
  border-color: skyblue;
  background: #ceebfa;
  color: black;
}

.secondary {
  border-color: #e2e2e2;
  background: #fdfdfd;
}

.medium {
  border-width: 0.125rem;
  border-radius: 0.25rem;
  padding: 0.325rem 0.75rem;
  font-size: 1rem;
}

.small {
  border-width: 1px;
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
}
