.container {
  height: 100%;
  /* For .suggestions. */
  position: relative;
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  height: 100%;

  /* Width is set by measureText, so do not let padding break width. */
  box-sizing: content-box;
}

.input:focus {
  padding: 0 0.25rem;
}

.suggestions {
  background: white;
  box-shadow: 0 0 1rem gray;
}

.suggestion {
  font-size: 0.875rem;
  padding: 0.5rem;
  cursor: pointer;
  width: 100%;
}

.suggestion:hover {
  background: rgba(0, 0, 0, 0.1);
}
